.header {
    text-align: center;
    color: white;

    a {
        text-decoration: none;
        padding: 5px;
        img {
            height: 20px;
        }
    }

    background-color: aqua;
}